.item {
    width: 300px;
    height: 262px;
    float: left;

    >article {
        width: 100%;
        float: left;
        margin: 0;
        padding: 10px;
        position: relative;
        border: 0;
        font-size: 100%;
        display: block;
        box-sizing: border-box;
        cursor: pointer;

        .poster {
            width: 285px;
            height: 160px;
            float: left;
            position: relative;
            overflow: hidden;

            .feature {
                background: #449743;
                position: absolute;
                top: 0;
                left: 0;
                font-size: 10px;
                font-weight: 500;
                padding: 5px 10px;
                text-transform: uppercase;
                color: white;
            }

            >img {
                max-width: 100%;
                max-height: 100%;
                width: auto;
                height: auto;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }

        .data {
            position: relative;
            float: left;
            width: 100%;
            margin-bottom: 10px;
            margin-top: 15px;

            >h3 {
                color: #fff;
                font-weight: 500;
                font-size: 14px;
                line-height: 20px;
                margin-bottom: 1px;
                width: 100%;
                float: left;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
            }

            >span {
                color: black;
                float: left;
                width: 100%;
                line-height: 1.5;
                font-size: 12px;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
            }
        }
    }
}