.none {
    display: none;
}

@media (min-width: 1300px) {
    .header {
        border-bottom: 1px solid #e0e0e0;
        position: relative;
        z-index: 999;
        width: 100%;
        background: #fefbf6;
        display: block;

        .m_container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 88px;
            position: relative;
            margin: 0 auto;
            max-width: 1200px;

            .logo_container {
                position: relative;
                color: #242420;
                outline: 0;
                cursor: pointer;
                transition: all .2s ease;
                -webkit-tap-highlight-color: rgba(0, 0, 0, .2) !important;

                .full_logo {
                    >img {
                        width: 117px;
                        display: block;
                        -webkit-tap-highlight-color: rgba(0, 0, 0, .2) !important;
                        text-decoration: none;
                    }
                }
            }

            .menu_container {
                display: flex;
                align-items: center;
                grid-gap: 12px;
                gap: 12px;
                border: 0;
                font: inherit;
                vertical-align: initial;
                margin: 0;
                padding: 0;

                >a {
                    font-size: .875rem !important;
                    font-weight: 700 !important;
                    padding: 12px 16px;
                    -webkit-tap-highlight-color: rgba(0, 0, 0, .2) !important;
                    text-decoration: none;
                    color: #242420;
                    outline: 0;
                    cursor: pointer;
                    transition: all .2s ease;
                    border: 0;
                    font: inherit;
                    vertical-align: initial;
                    margin: 0;
                }

                .vertical_line {
                    border-right: 1px solid #d8dae5;
                    height: 24px;
                    font: inherit;
                    vertical-align: initial;
                    margin: 0;
                    padding: 0;
                    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
                }

                .dropdown_profile {
                    display: flex;
                    align-items: center;
                    grid-gap: 12px;
                    gap: 12px;
                    cursor: pointer;
                    padding: 0;

                    >div {
                        font-size: .875rem;
                        font-weight: 700;
                        display: flex;
                        align-items: center;
                        grid-gap: 12px;
                        gap: 12px;
                        cursor: pointer;
                        padding: 0;

                        .avatar {
                            width: 40px;
                            height: 40px;
                            line-height: 40px;
                            position: relative;
                            border: 1px solid #e0e0e0;
                            border-radius: 100%;

                            >img {
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                                border-radius: 100%;
                                text-decoration: none;
                            }
                        }

                        .info {
                            display: flex;
                            flex-direction: column;

                            >span {
                                font-size: 18px;
                            }
                        }
                    }
                }

                .btn {
                    color: #000;
                    text-align: center !important;
                    position: relative;
                    display: inline-flex;
                    justify-content: center;
                    align-items: center;
                    grid-gap: 8px;
                    gap: 8px;
                    background-color: initial;
                    vertical-align: middle;
                    cursor: pointer;
                    white-space: nowrap;
                    border-radius: 8px;
                    user-select: none;
                }

                .btn__s {
                    padding: 12px 20px;
                }

                .login {
                    position: relative;
                    display: inline-flex;
                    justify-content: center;
                    align-items: center;
                    grid-gap: 8px;
                    gap: 8px;
                    background-color: initial;
                    vertical-align: middle;
                    cursor: pointer;
                    white-space: nowrap;
                    color: #000;
                    padding: 8px 16px;
                    border-radius: 8px;
                    border: 1px solid #000;
                }
            }

        }
    }

    .m_container {
        margin: 50px auto 0 auto;
        padding: 15px;
        position: relative;
        width: 1300px;

        .movie_image {
            width: 445px;
            text-align: center;
            float: left;
            display: flex;
            flex-direction: column;
            row-gap: 30px;

            .img {
                overflow: hidden;
                width: 445px;
                border-radius: 5px;
                text-align: center;
                float: left;
                box-shadow: 0 0 8px 0 #757575;

                >img {
                    height: 250px;
                    width: auto;
                }
            }


            .group_button {
                display: flex;
                flex-direction: row;
                align-items: center !important;
                justify-content: center !important;
                width: 445px;

                >button {
                    color: #fff;
                    border-radius: 10px;
                    padding-left: 3px;
                    padding-right: 3px;
                    border: none;
                    width: 125px;
                    height: 35px;
                    margin-right: 20px;
                }
            }
        }

        .moive_info {
            width: calc(100% - 500px);
            float: right;
            text-align: left;

            >h1 {
                font-size: 25px;
                font-weight: 600;
                line-height: 25px;
            }

            .txt {
                >ul {
                    list-style-type: none;
                    display: flex;
                    flex-direction: column;
                    padding: 0px;

                    >li {
                        display: flex;

                        >p {
                            font-size: 15px;
                            line-height: 30px;
                            font-weight: 400;
                            padding: 0;
                            text-transform: inherit;
                            color: #000;
                            margin: 0;
                            width: 110px;
                        }

                        >h2 {
                            font-size: 15px;
                            color: #000;
                            font-weight: 600;
                            position: relative;
                            text-transform: capitalize;
                            line-height: 30px;
                            width: 600px;
                        }

                        .genre {
                            height: 20px;
                            display: inline-block;
                            border: 1px solid #f18121;
                            color: #fff;
                            font-weight: 500;
                            padding: 4px 6px;
                            border-radius: 3px;
                            height: 100%;
                            font-size: 10px;
                            background-color: #449743;
                            text-transform: uppercase;
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 1024px) and (max-width: 1299px) {
    .header {
        border-bottom: 1px solid #e0e0e0;
        position: relative;
        z-index: 999;
        width: 100%;
        background: #fefbf6;
        display: block;

        .m_container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 88px;
            position: relative;
            margin: 0 auto;
            max-width: 1000px;

            .logo_container {
                position: relative;
                color: #242420;
                outline: 0;
                cursor: pointer;
                transition: all .2s ease;
                -webkit-tap-highlight-color: rgba(0, 0, 0, .2) !important;

                .full_logo {
                    >img {
                        width: 117px;
                        display: block;
                        -webkit-tap-highlight-color: rgba(0, 0, 0, .2) !important;
                        text-decoration: none;
                    }
                }
            }

            .menu_container {
                display: flex;
                align-items: center;
                grid-gap: 12px;
                gap: 12px;
                border: 0;
                font: inherit;
                vertical-align: initial;
                margin: 0;
                padding: 0;

                >a {
                    font-size: .875rem !important;
                    font-weight: 700 !important;
                    padding: 12px 16px;
                    -webkit-tap-highlight-color: rgba(0, 0, 0, .2) !important;
                    text-decoration: none;
                    color: #242420;
                    outline: 0;
                    cursor: pointer;
                    transition: all .2s ease;
                    border: 0;
                    font: inherit;
                    vertical-align: initial;
                    margin: 0;
                }

                .vertical_line {
                    border-right: 1px solid #d8dae5;
                    height: 24px;
                    font: inherit;
                    vertical-align: initial;
                    margin: 0;
                    padding: 0;
                    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
                }

                .dropdown_profile {
                    display: flex;
                    align-items: center;
                    grid-gap: 12px;
                    gap: 12px;
                    cursor: pointer;
                    padding: 0;

                    >div {
                        font-size: .875rem;
                        font-weight: 700;
                        display: flex;
                        align-items: center;
                        grid-gap: 12px;
                        gap: 12px;
                        cursor: pointer;
                        padding: 0;

                        .avatar {
                            width: 40px;
                            height: 40px;
                            line-height: 40px;
                            position: relative;
                            border: 1px solid #e0e0e0;
                            border-radius: 100%;

                            >img {
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                                border-radius: 100%;
                                text-decoration: none;
                            }
                        }

                        .info {
                            display: flex;
                            flex-direction: column;

                            >span {
                                font-size: 18px;
                            }
                        }
                    }
                }

                .btn {
                    color: #000;
                    text-align: center !important;
                    position: relative;
                    display: inline-flex;
                    justify-content: center;
                    align-items: center;
                    grid-gap: 8px;
                    gap: 8px;
                    background-color: initial;
                    vertical-align: middle;
                    cursor: pointer;
                    white-space: nowrap;
                    border-radius: 8px;
                    user-select: none;
                }

                .btn__s {
                    padding: 12px 20px;
                }

                .login {
                    position: relative;
                    display: inline-flex;
                    justify-content: center;
                    align-items: center;
                    grid-gap: 8px;
                    gap: 8px;
                    background-color: initial;
                    vertical-align: middle;
                    cursor: pointer;
                    white-space: nowrap;
                    color: #000;
                    padding: 8px 16px;
                    border-radius: 8px;
                    border: 1px solid #000;
                }
            }

        }
    }

    .m_container {
        margin: 50px auto 0 auto;
        padding: 15px;
        position: relative;
        width: 900px;

        .movie_image {
            width: 445px;
            text-align: center;
            float: left;
            display: flex;
            flex-direction: column;
            row-gap: 30px;

            .img {
                overflow: hidden;
                width: 445px;
                border-radius: 5px;
                text-align: center;
                float: left;
                box-shadow: 0 0 8px 0 #757575;

                >img {
                    height: 250px;
                    width: auto;
                }
            }


            .group_button {
                display: flex;
                flex-direction: row;
                align-items: center !important;
                justify-content: center !important;
                width: 445px;

                >button {
                    color: #fff;
                    border-radius: 10px;
                    padding-left: 3px;
                    padding-right: 3px;
                    border: none;
                    width: 125px;
                    height: 35px;
                    margin-right: 20px;
                }
            }
        }

        .moive_info {
            width: calc(100% - 500px);
            float: right;
            text-align: left;

            >h1 {
                font-size: 25px;
                font-weight: 600;
                line-height: 25px;
            }

            .txt {
                >ul {
                    list-style-type: none;
                    display: flex;
                    flex-direction: column;
                    padding: 0px;

                    >li {
                        display: flex;

                        >p {
                            font-size: 15px;
                            line-height: 30px;
                            font-weight: 400;
                            padding: 0;
                            text-transform: inherit;
                            color: #000;
                            margin: 0;
                            width: 110px;
                        }

                        >h2 {
                            font-size: 15px;
                            color: #000;
                            font-weight: 600;
                            position: relative;
                            text-transform: capitalize;
                            line-height: 30px;
                            width: 300px;
                        }

                        .genre {
                            height: 20px;
                            display: inline-block;
                            border: 1px solid #f18121;
                            color: #fff;
                            font-weight: 500;
                            padding: 4px 6px;
                            border-radius: 3px;
                            height: 100%;
                            font-size: 10px;
                            background-color: #449743;
                            text-transform: uppercase;
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 787px) and (max-width: 1023px) {
    .header {
        border-bottom: 1px solid #e0e0e0;
        position: relative;
        z-index: 999;
        width: 100%;
        background: #fefbf6;
        display: block;

        .m_container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 88px;
            position: relative;
            margin: 0 auto;
            max-width: 670px;

            .logo_container {
                position: relative;
                color: #242420;
                outline: 0;
                cursor: pointer;
                transition: all .2s ease;
                -webkit-tap-highlight-color: rgba(0, 0, 0, .2) !important;

                .full_logo {
                    >img {
                        width: 117px;
                        display: block;
                        -webkit-tap-highlight-color: rgba(0, 0, 0, .2) !important;
                        text-decoration: none;
                    }
                }
            }

            .menu_container {
                display: flex;
                align-items: center;
                grid-gap: 12px;
                gap: 12px;
                border: 0;
                font: inherit;
                vertical-align: initial;
                margin: 0;
                padding: 0;

                >a {
                    font-size: .875rem !important;
                    font-weight: 700 !important;
                    padding: 12px 16px;
                    -webkit-tap-highlight-color: rgba(0, 0, 0, .2) !important;
                    text-decoration: none;
                    color: #242420;
                    outline: 0;
                    cursor: pointer;
                    transition: all .2s ease;
                    border: 0;
                    font: inherit;
                    vertical-align: initial;
                    margin: 0;
                }

                .vertical_line {
                    border-right: 1px solid #d8dae5;
                    height: 24px;
                    font: inherit;
                    vertical-align: initial;
                    margin: 0;
                    padding: 0;
                    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
                }

                .dropdown_profile {
                    display: flex;
                    align-items: center;
                    grid-gap: 12px;
                    gap: 12px;
                    cursor: pointer;
                    padding: 0;

                    >div {
                        font-size: .875rem;
                        font-weight: 700;
                        display: flex;
                        align-items: center;
                        grid-gap: 12px;
                        gap: 12px;
                        cursor: pointer;
                        padding: 0;

                        .avatar {
                            width: 40px;
                            height: 40px;
                            line-height: 40px;
                            position: relative;
                            border: 1px solid #e0e0e0;
                            border-radius: 100%;

                            >img {
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                                border-radius: 100%;
                                text-decoration: none;
                            }
                        }

                        .info {
                            display: flex;
                            flex-direction: column;

                            >span {
                                font-size: 18px;
                            }
                        }
                    }
                }

                .btn {
                    color: #000;
                    text-align: center !important;
                    position: relative;
                    display: inline-flex;
                    justify-content: center;
                    align-items: center;
                    grid-gap: 8px;
                    gap: 8px;
                    background-color: initial;
                    vertical-align: middle;
                    cursor: pointer;
                    white-space: nowrap;
                    border-radius: 8px;
                    user-select: none;
                }

                .btn__s {
                    padding: 12px 20px;
                }

                .login {
                    position: relative;
                    display: inline-flex;
                    justify-content: center;
                    align-items: center;
                    grid-gap: 8px;
                    gap: 8px;
                    background-color: initial;
                    vertical-align: middle;
                    cursor: pointer;
                    white-space: nowrap;
                    color: #000;
                    padding: 8px 16px;
                    border-radius: 8px;
                    border: 1px solid #000;
                }
            }

        }
    }

    .m_container {
        margin: 50px auto 0 auto;
        padding: 15px;
        position: relative;
        width: 770px;

        .movie_image {
            width: 445px;
            text-align: center;
            float: left;
            display: flex;
            flex-direction: column;
            row-gap: 30px;

            .img {
                overflow: hidden;
                width: 445px;
                border-radius: 5px;
                text-align: center;
                float: left;
                box-shadow: 0 0 8px 0 #757575;

                >img {
                    height: 250px;
                    width: auto;
                }
            }


            .group_button {
                display: flex;
                flex-direction: row;
                align-items: center !important;
                justify-content: center !important;
                width: 445px;

                >button {
                    color: #fff;
                    border-radius: 10px;
                    padding-left: 3px;
                    padding-right: 3px;
                    border: none;
                    width: 125px;
                    height: 35px;
                    margin-right: 20px;
                }
            }
        }

        .moive_info {
            width: calc(100% - 500px);
            float: right;
            text-align: left;

            >h1 {
                font-size: 25px;
                font-weight: 600;
                line-height: 25px;
            }

            .txt {
                >ul {
                    list-style-type: none;
                    display: flex;
                    flex-direction: column;
                    padding: 0px;

                    >li {
                        display: flex;

                        >p {
                            font-size: 15px;
                            line-height: 30px;
                            font-weight: 400;
                            padding: 0;
                            text-transform: inherit;
                            color: #000;
                            margin: 0;
                            width: 68px;
                        }

                        >h2 {
                            font-size: 15px;
                            color: #000;
                            font-weight: 600;
                            position: relative;
                            text-transform: capitalize;
                            line-height: 30px;
                            width: 200px;
                        }

                        .genre {
                            height: 20px;
                            display: inline-block;
                            border: 1px solid #f18121;
                            color: #fff;
                            font-weight: 500;
                            padding: 4px 6px;
                            border-radius: 3px;
                            height: 100%;
                            font-size: 10px;
                            background-color: #449743;
                            text-transform: uppercase;
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 456px) and (max-width: 786px) {
    .header {
        border-bottom: 1px solid #e0e0e0;
        position: relative;
        z-index: 999;
        width: 100%;
        background: #fefbf6;
        display: block;

        .m_container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 88px;
            position: relative;
            margin: 0 auto;
            max-width: 600px;

            .logo_container {
                position: relative;
                color: #242420;
                outline: 0;
                cursor: pointer;
                transition: all .2s ease;
                -webkit-tap-highlight-color: rgba(0, 0, 0, .2) !important;

                .full_logo {
                    >img {
                        width: 117px;
                        display: block;
                        -webkit-tap-highlight-color: rgba(0, 0, 0, .2) !important;
                        text-decoration: none;
                    }
                }
            }

            .menu_container {
                display: flex;
                align-items: center;
                grid-gap: 12px;
                gap: 12px;
                border: 0;
                font: inherit;
                vertical-align: initial;
                margin: 0;
                padding: 0;

                >a {
                    font-size: .875rem !important;
                    font-weight: 700 !important;
                    padding: 12px 16px;
                    -webkit-tap-highlight-color: rgba(0, 0, 0, .2) !important;
                    text-decoration: none;
                    color: #242420;
                    outline: 0;
                    cursor: pointer;
                    transition: all .2s ease;
                    border: 0;
                    font: inherit;
                    vertical-align: initial;
                    margin: 0;
                }

                .vertical_line {
                    border-right: 1px solid #d8dae5;
                    height: 24px;
                    font: inherit;
                    vertical-align: initial;
                    margin: 0;
                    padding: 0;
                    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
                }

                .dropdown_profile {
                    display: flex;
                    align-items: center;
                    grid-gap: 12px;
                    gap: 12px;
                    cursor: pointer;
                    padding: 0;

                    >div {
                        font-size: .875rem;
                        font-weight: 700;
                        display: flex;
                        align-items: center;
                        grid-gap: 12px;
                        gap: 12px;
                        cursor: pointer;
                        padding: 0;

                        .avatar {
                            width: 40px;
                            height: 40px;
                            line-height: 40px;
                            position: relative;
                            border: 1px solid #e0e0e0;
                            border-radius: 100%;

                            >img {
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                                border-radius: 100%;
                                text-decoration: none;
                            }
                        }

                        .info {
                            display: flex;
                            flex-direction: column;

                            >span {
                                font-size: 18px;
                            }
                        }
                    }
                }

                .btn {
                    color: #000;
                    text-align: center !important;
                    position: relative;
                    display: inline-flex;
                    justify-content: center;
                    align-items: center;
                    grid-gap: 8px;
                    gap: 8px;
                    background-color: initial;
                    vertical-align: middle;
                    cursor: pointer;
                    white-space: nowrap;
                    border-radius: 8px;
                    user-select: none;
                }

                .btn__s {
                    padding: 12px 20px;
                }

                .login {
                    position: relative;
                    display: inline-flex;
                    justify-content: center;
                    align-items: center;
                    grid-gap: 8px;
                    gap: 8px;
                    background-color: initial;
                    vertical-align: middle;
                    cursor: pointer;
                    white-space: nowrap;
                    color: #000;
                    padding: 8px 16px;
                    border-radius: 8px;
                    border: 1px solid #000;
                }
            }

        }
    }

    .list_movie {
        display: flex;
        flex-direction: column;
        width: 420px;
        margin: 20px auto 50px auto;

        >header {
            float: left;
            width: 420px;
            padding: 15px 10px;
            line-height: 20px;

            >h2 {
                border-left: solid 3px #408bea;
                color: black;
                float: left;
                font-size: 20px;
                font-weight: 500;
                padding-left: 10px;
            }

            .select_feature {
                float: right;
                width: 200px;
            }
        }

        .list {
            width: 420px;
            display: grid;
            grid-template-columns: repeat(1, 420px);
            row-gap: 20px;
            margin: 0 auto;
        }

        .no_suggest {
            padding: 15px 10px;
            display: flex;
            flex-direction: row;
            text-align: center;
            justify-content: center;

            >h1 {
                display: inline;
                font-size: 24px;
                vertical-align: middle;
                margin: 0px 3px 0px 3px;
                color: #3B71CA;
            }
        }

        .pagination {
            width: 420px;
            float: left;
        }
    }
}